.Modal_ACC {
    z-index: 10;
    width: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    border: 1px solid rgb(71, 71, 71);
    border-radius: 5px;
    padding: 2rem 1.5rem;
}
.center {
    display: flex;
    justify-content: center;
}
.Modal_ACC h2 {
    margin-bottom: 1.5rem;
}
.Modal_Acc_content {
    margin-bottom: 2rem;
}
.Modal_Acc_content .Modal_Acc_divs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
/* .InputEle {
    width: 100%;
    margin: 0;
} */
.Modal_Acc_divs div input,
.Modal_Acc_divs input p {
    width: 100% !important;
    margin: 0;
}
.Modal_Acc_Button button{
    margin-right: 1rem !important;
}
.icon {
    margin: 0 !important;
}


@media (max-width: 650px) {
    .Modal_ACC {
        width: 400px;
    }
}

@media (max-width: 450px) {
    .Modal_ACC {
        width: 290px;
    }
    .Modal_Acc_divs {
        flex-direction: column;
    }
    .Modal_Acc_Button {
        display: flex;
        justify-content: space-around;
    }
    .Modal_Acc_Button button {
        margin-right: 0 !important;
    }
} 