.Modal {
    z-index: 10;
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    border: 1px solid rgb(71, 71, 71);
    padding: 1rem 3rem;
    border-radius: 5px;
}
.Modal_title {
    margin-bottom: 1rem;
}
.Modal_form {
    width: 100%;
}
.Modal_form label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.InputEle {
    width: 100%;
}
.Modal_form input {
    width: 100% !important;
    margin: 0;
}
.Modal_form p {
    margin-bottom: 0.8rem;
    font-size: 0.8rem;
}
.Modal_Buttons {
    display: flex;
    justify-content: space-between;
}