.nav-links {
    width: 100%;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.nav-links li a{
    position: relative;
    padding-bottom: 5px;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    color: rgb(26, 26, 26);
}
.nav-links li a::after {
    content: '';
    width: 105%;
    height: 2px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #000;
    transform: scale(0);
    transform-origin: center;
    transition: transform 300ms cubic-bezier(0, 0, 0.79, 1.66);
}

.nav-links a:hover::after,
.nav-links a.active::after,
.nav-links a:active  {
    transform: scale(1);
}