.Modal {
    z-index: 10;
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    border: 1px solid rgb(71, 71, 71);
    padding: 1rem 2rem;
    border-radius: 5px;
}
/* .SearchField {
    position: relative;
}
.dropDown {
    position: absolute;
    bottom: -33px;
    background-color: #fff;
    border: 1px solid rgb(59,59,59);
    border-top: none;
    width: 100%;
} */
.Modal_title {
    margin-bottom: 1rem;
}
.Modal_form {
    width: 100%;
}
.Modal_form label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.InputEle {
    width: 100%;
}
.Modal_form input {
    width: 100% !important;
    margin: 0;
}
.Modal_form p {
    margin-bottom: 0.8rem;
    font-size: 0.8rem;
}
.Modal_Buttons {
    display: flex;
    justify-content: space-between;
}
.Modal_form .Normal_input {
    width: 100%;
    padding: 0.3rem;
}

@media (max-width: 900px) {
    .Modal{
        width: 45%;
        padding: 1rem 1.5rem;
    }
}

@media (max-width: 700px) {
   .Modal {
       width: 60%;
       padding: 1rem 1.5rem;
   }
}
@media (max-width: 500px) {
    .Modal {
        width: 90%;
        padding: 1rem 1.5rem;
    }
 }
 