.Input__div{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.Input__div label {
    width: 100%;
    font-size: 1.3rem;
    margin-bottom: 0.9rem;
}
.InputEle {
    width: 75%;
    border: 1px solid rgb(59,59,59);
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.3rem;
    margin-bottom: 0.2rem;
}

.Input__div input {
    width: 90%;
    outline: none;
    font-size: 1.2rem;
    border: none;
}
.Normal_input {
    width: 75%;
    outline: none;
    font-size: 1.2rem;
    padding: 0.6rem;
    display: flex;    
    align-items: center;
    border: 1px solid rgb(59,59,59);
    border-radius: 5px;
}
.Input__error {
    color: #fa4d4d;
}
.InputEle svg:hover,
.Input__div svg:hover {
    fill: rgb(71, 71, 71);
}
.InputEle svg:active,
.Input__div svg:active {
    transform: translateY(0.5px);
}
.Input__div p {
    height: 1rem;
    font-size: 1rem;
    margin-bottom: 1.1rem;
}



@media (max-width: 900px) {
    .Normal_input {
        width: 100%;
    }
}

