.button {
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    width: 75%;
    padding: 0.6rem 0;
    border-radius: 5px;
    border: 1px solid rgb(45, 45, 45);
    outline: none;
    color: #fff;
    background-color: rgb(45, 45, 45);
    margin-bottom: 1.4rem;
    transition: background-color 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.Half {
    width: 5rem;
    font-size: 0.8rem;
    margin: 0;
}
.button:hover {
    background-color: rgb(28, 28, 28);
}
.button:active {
    transform: translateY(1px);
}
.button.border {
    background-color: transparent;
    color: #000;
}
.button.border:hover {
    color: #fff;
    background-color: rgb(45, 45, 45);
}
.button:disabled {
    border: 1px solid rgb(104 104 104);
    background-color: rgb(104 104 104);
    cursor: default;
}

@media (max-width: 900px) {
    .button {
        width:  90%;
    }
    .Half {
        width: 5rem;
    }
}

@media (max-width: 700px) {
    .button {
        width: 100% ;
    }
    .Half {
        width: 5rem;
    }
}
